/* ======== Buttons ======== */

.play-sound-btn {
  height: 45px;
  width: 45px;
}

#seq-steps {
  display: flex;
  overflow: hidden;
  margin-left: 10px;
  align-items: center;
  width: 777px;
  justify-content: flex-start;
  height: 40px;
  margin-right: 12px;
}

.seq-step {
  font-size: 24px;
  /* color: transparent; */
  margin-right: 6px;
}

.seq-step.active,
.play-sound-btn.active {
  background: #beddcd;
}

.main-mute-solo,
.main-knobs {
  display: flex;
  justify-content: space-evenly;
}

.main-mute,
.main-solo {
  height: 24px;
  width: 24px;
  font-family: 'Rock Salt', cursive;
  font-size: 8px;
  font-weight: 600;
}