#seq-lights {
  display: flex;
  width: 78.8%;
  margin-top: 20px;
  margin-left: 75px;
  justify-content: space-between;
}

#seq-lights.hidden {
  display: none;
}

.seq-light {
  border: 2px groove #a19683;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 15px #e9d8bc;
}

.seq-light.on {
  background-color: #beddcd;
  box-shadow: 0 0 2px #beddcd;
}